#contenedor {
    background-color: white;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 200px;
}

#rojo {
    height: 250px;
    width: 250px;
    background-color: #b65050;
}

#azul {
    height: 250px;
    width: 250px;
    background-color: #41B8E5;
}

#verde {
    height: 250px;
    width: 250px;
    background-color: #09ff00;
}